<!DOCTYPE html>
<html lang="en" ng-app="cavavin">
<head>
  <meta charset="UTF-8">
  <title>Cave</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body ng-controller="MainCtrl as main" ng-cloak>
<main class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-form ">
      <div class="container">
        <div class="form-group" role="search">
          <input type="text" class="form-control" placeholder="Search" ng-model="main.search.$"
                 ng-model-options="{ debounce : { default : 500, blur : 0 } }">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <label>Debug: {{ main.search }}</label>
      </div>
    </div>
  </nav>
  <section class="container" ng-if="main.selectedWine">
    <div class="col-xs-12 col-sm-6">
      <div class="thumbnail">
        <img class="img-responsive" src="https://les5duvin.files.wordpress.com/2015/03/about-vinolok.jpg"/>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="page-header">
        <h1>{{ main.selectedWine.vigneron }} ({{ main.selectedWine.color }})</h1>
        <h2>Harvested in {{ main.selectedWine.year }} from {{ main.selectedWine.region }}</h2>
        <div>
          {{ main.selectedWine.description }}
        </div>
      </div>
    </div>
  </section>
  <section class="page-header">
    <h2>Ajouter un vin</h2>
    <form class="form-horizontal" name="wineForm" ng-submit="main.createWine(wineForm, wine)" novalidate>
      <script type="text/ng-template" id="error-messages">
        <div ng-message="required">Ce champ est requis</div>
        <div ng-message="pattern">Ce champ ne respecte pas le pattern</div>
        <div ng-message="min">Ce champ n'est pas assez grand</div>
        <div ng-message="max">Ce champ est trop grand</div>
      </script>
      <div class="form-group"
           ng-class="(wineForm.vigneron.$touched || wineForm.$submitted ) ? wineForm.vigneron.$invalid ? 'has-error':'has-success' : ''">
        <label for="vigneron" class="col-sm-2 control-label">Vigneron</label>
        <div ng-messages-include="error-messages"></div>
        <div class="col-sm-10">
          <input ng-model="wine.vigneron" ng-pattern="/a$/" required class="form-control" name="vigneron" id="vigneron"
                 placeholder="vigneron">
        </div>
      </div>
      <div class="form-group">
        <label for="color" class="col-sm-2 control-label">Color</label>
        <div class="col-sm-10">
          <select class="form-control" id="color" name="color" ng-model="wine.color"
                  ng-options="color for color in main.colors">
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="cepage" class="col-sm-2 control-label">Cepage</label>
        <div class="col-sm-10">
          <select placeholder="Cepage" class="form-control" id="cepage" name="cepage" ng-model="wine.cepage"
                  ng-options="cepage for cepage in main.cepages">
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="region" class="col-sm-2 control-label">Region</label>
        <div class="col-sm-10">
          <select class="form-control" id="region" name="region" ng-model="wine.region"
                  ng-options="region for region in main.regions">
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="year" class="col-sm-2 control-label">Year</label>
        <div ng-if="wineForm.year.$touched">
          <div ng-if="wineForm.year.$error.required">Ce champ est requis</div>
          <div ng-if="wineForm.year.$error.pattern">Ce champ ne respecte pas le pattern</div>
        </div>
        <div class="col-sm-10">
          <input ng-model="wine.year" type="number" class="form-control" name="year" id="year" placeholder="Year">
        </div>
      </div>
      <div class="form-group"
           ng-class="(wineForm.quantity.$touched || wineForm.$submitted ) ? wineForm.quantity.$invalid ? 'has-error':'has-success' : ''">
        <label for="quantity" class="col-sm-2 control-label">Quantity</label>
        <div ng-messages="wineForm.quantity.$error" ng-if="wineForm.quantity.$touched">
          <div ng-message="min">Ce champ doit faire 1 au min</div>
          <div ng-message="max">Ce champ doit faire 100 au max</div>
        </div>
        <div class="col-sm-10">
          <input ng-model="wine.quantity" type="number" ng-minlength="1" ng-maxlength="100" step="1"
                 class="form-control" name="quantity" id="quantity" placeholder="Quantity">
        </div>
      </div>
      <div class="form-group">
        <label for="degree" class="col-sm-2 control-label">Degree</label>
        <div ng-if="wineForm.degree.$touched">
          <div ng-if="wineForm.degree.$error.required">Ce champ est requis</div>
          <div ng-if="wineForm.degree.$error.pattern">Ce champ ne respecte pas le pattern</div>
        </div>
        <div class="col-sm-10">
          <input ng-model="wine.degree" type="number" class="form-control" name="degree" id="degree"
                 placeholder="degree">
        </div>
      </div>
      <div class="form-group">
        <label for="volume" class="col-sm-2 control-label">Volume</label>
        <div ng-if="wineForm.volume.$touched">
          <div ng-if="wineForm.volume.$error.required">Ce champ est requis</div>
          <div ng-if="wineForm.volume.$error.pattern">Ce champ ne respecte pas le pattern</div>
        </div>
        <div class="col-sm-10">
          <input ng-model="wine.volume" type="number" class="form-control" name="volume" id="volume"
                 placeholder="volume">
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <textarea ng-model="wine.description" name="description" id="description" class="form-control"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Castle</label>
        <div class="col-sm-10">
          <input name="castle" type="checkbox" ng-model="wine.castle">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div ng-if="wineForm.email.$touched">
          <div ng-if="wineForm.email.$error.required">Ce champ est requis</div>
          <div ng-if="wineForm.email.$error.pattern">Ce champ ne respecte pas le pattern</div>
        </div>
        <div class="col-sm-10">
          <input ng-model="wine.email" type="email" class="form-control" name="email" id="email" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" class="pull-right btn btn-primary" value="Submit"/>
        </div>
      </div>
    </form>
  </section>
  <section class="page-header">
    <h2>Hardcoded table</h2>
  </section>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>id</th>
      <th>vigneron</th>
      <th>color</th>
      <th>cepage</th>
      <th>region</th>
      <th>year</th>
      <th>quantity</th>
      <th>degree</th>
      <th>volume</th>
      <th>description</th>
      <th>castle</th>
      <th>email</th>
    </tr>
    <tr>
      <th><input type="number" ng-model="main.search.id"></th>
      <th><input ng-model="main.search.vigneron"></th>
      <th><input ng-model="main.search.color"></th>
      <th><select ng-model="main.search.cepage" ng-options="cepage for cepage in main.cepages">
        <option value="">All</option>
      </select></th>
      <th><input ng-model="main.search.region"></th>
      <th><input type="number" ng-model="main.search.year"></th>
      <th><input type="number" ng-model="main.search.quantity"></th>
      <th><input type="number" ng-model="main.search.degree"></th>
      <th><input type="number" ng-model="main.search.volume"></th>
      <th><input ng-model="main.search.description"></th>
      <th><input type="checkbox" ng-model="main.search.castle"></th>
      <th><input type="email" ng-model="main.search.email"></th>
    </tr>
    </thead>
    <tfoot style="display: table-row-group;">
    <tr>
      <td colspan="5">Moyennes:</td>
      <td>{{ main.wines | filter:main.search | pluck:'year' | average | number }}</td>
      <td>{{ main.wines | filter:main.search | pluck:'quantity' | average | number }}</td>
      <td>{{ main.wines | filter:main.search | pluck:'degree' | average | number }}</td>
      <td>{{ main.wines | filter:main.search | pluck:'volume' | average | number }}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tfoot>
    <tbody>
    <tr ng-repeat="wine in main.wines | filter:main.search | orderBy:main.predicate:main.reverse">
      <td ng-click="main.selectedWine = wine">{{ wine.id }}</td>
      <td>{{ wine.vigneron | rot13 }}</td>
      <td>{{ wine.color }}</td>
      <td>{{ wine.cepage | uppercase }}</td>
      <td>{{ wine.region }}</td>
      <td>{{ wine.year }}</td>
      <td>{{ wine.quantity }}</td>
      <td>{{ wine.degree }}</td>
      <td>{{ wine.volume }}</td>
      <td>{{ wine.description | truncate:20 }}</td>
      <td>{{ wine.castle }}</td>
      <td>{{ wine.email }}</td>
    </tr>
    </tbody>
  </table>
  <div class="page-header">
    <h2>Hardcoded table</h2>
  </div>
  <h2>Dynamic table</h2>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th ng-repeat="h in main.headers" ng-click="main.sort(h)">
        <span ng-show="!main.reverse && main.predicate === h">▲</span>
        {{ h }}
        <span ng-show="main.reverse && main.predicate === h">▼</span>
      </th>
    </tr>
    <tr>
      <th ng-repeat="h in main.headers">
        <label>{{ h }}</label><input ng-model="main.search[h]">
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="wine in main.wines | filter:main.search | orderBy:main.predicate:main.reverse">
      <td ng-click="main.selectedWine=wine" ng-repeat="h in main.headers" ng-switch="h">
        <span ng-switch-default>{{ wine[h] }}</span>
        <span ng-switch-when="cepage">{{ wine[h] | uppercase }}</span>
        <span ng-switch-when="description">{{ wine[h] | truncate }}</span>
      </td>
    </tr>
    </tbody>
  </table>
</main>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-messages/angular-messages.js"></script>
<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
<script src="node_modules/chance/chance.js"></script>

<script src="js/app.js"></script>

<script src="js/models/wines.js"></script>

<script src="js/controllers/main.js"></script>

<script src="js/filters/collections.js"></script>
<script src="js/filters/maths.js"></script>
<script src="js/filters/strings.js"></script>
</body>
</html>